
<div class="jumbotron text-center" style="margin-top:-50px;padding-bottom:30px;" >
    
    <p class="lead">Want to share something with your friends? Go ahead.</p>
    <button type="button" name="button" class="btn btn-outline-success" *ngIf="!newPost" (click)="newBlogForm()" style="width:100px !important">New Post</button>
    <button [disabled]="loadingBlogs" type="button" name="button" class="btn btn-outline-secondary"  *ngIf="!newPost" style="width:100px !important" (click)="reloadBlogs()"><span class="glyphicon glyphicon-repeat"></span>&nbsp;&nbsp;Reload</button>
</div>

<div class="container col-md-6 col-md-offset-10" >
  <div class="row show-hide-message col-md-6 col-md-offset-10" class="width: 100px" *ngIf="message && newPost">
    <div [ngClass]="messageClass">
      {{ message }}
    </div>
  </div>

<!-- New Blog Form -->
  <form [formGroup]="form" name="blogForm" (submit)="onBlogSubmit()" *ngIf="newPost">
    <!-- Title Input -->
    <div class="form-group">
      <label for="title">Title</label>
      <div>
        <!-- Title Input -->
        <input type="text" name="title" class="form-control" placeholder="*Title" autocomplete="off" formControlName="title" [ngClass]="{'is-valid': form.controls.title.valid, 'is-invalid': form.controls.title.dirty && form.controls.title.errors}"/>
        <!-- Validation -->
        <ul class="help-block text-danger">
          <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.required">This field is required.</li>
          <li *ngIf="(form.controls.title.dirty && form.controls.title.errors?.minlength) || (form.controls.title.dirty && form.controls.title.errors?.maxlength)">Minimum 5 characters, Maximum 50 characters</li>
          <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.alphaNumericValidation">Must be a letter or number</li>
        </ul>
      </div>
    </div>
  
    <!-- Body Input -->
    <div class="form-group">
      <label for="body">Body</label>
      <div >
        <!-- Body Input -->
        <textarea name="body" rows="4" cols="80" placeholder="*Body" class="form-control" formControlName="body" [ngClass]="{'is-valid': form.controls.body.valid, 'is-invalid': form.controls.body.dirty && form.controls.body.errors}"></textarea>
        <!-- Validation -->
        <ul class="help-block text-danger">
          <li *ngIf="form.controls.body.dirty && form.controls.body.errors?.required">This field is required.</li>
          <li *ngIf="(form.controls.body.dirty && form.controls.body.errors?.minlength) || (form.controls.body.dirty && form.controls.body.errors?.maxlength)">Minimum 5 characters, Maximum 500 characters</li>
        </ul>
      </div>
    </div>


    <!-- route Input -->
    <div class="form-group">
        <label for="route">Route</label>
        <div >
          <!-- Route Input -->
          <input type="text" name="route" class="form-control" placeholder="*Route" autocomplete="off" formControlName="route" [ngClass]="{'is-valid': form.controls.route.dirty,'is-invalid': form.controls.route.errors}"/>
        </div>
    </div>

    <!-- distance Input -->
    <div class="form-group">
        <label for="distance">Distance</label>
        <div class="form-group">
          <div class="input-group" >
              <input type="text" name="distance" class="form-control" placeholder="*Distance" autocomplete="off" formControlName="distance" [ngClass]="{'is-valid': form.controls.distance.dirty,'is-invalid': form.controls.distance.dirty && form.controls.distance.errors}"/>
          <div class="input-group-addon">kilometer</div>
          </div>
          <!-- Validation -->
          <ul class="help-block text-danger">
              <li *ngIf="form.controls.distance.dirty && form.controls.distance.errors?.distanceCharacterValidation">Distance must be a number</li>
          </ul>
        </div>
    </div>

    <div class="form-group">
        <label for="hrate">Hear Rate</label>
        <div class="form-group">
          <div class="input-group" >
              <input type="text" name="hrate" class="form-control" placeholder="*Heart Rate" autocomplete="off" formControlName="hrate" [ngClass]="{'is-valid': form.controls.hrate.dirty,'is-invalid': form.controls.hrate.dirty && form.controls.hrate.errors}"/>
          <div class="input-group-addon">beats per minute</div>
          </div>
          <!-- Validation -->
          <ul class="help-block text-danger">
              <li *ngIf="form.controls.hrate.dirty && form.controls.hrate.errors?.distanceCharacterValidation">Heart rate must be a number</li>
          </ul>
        </div>
    </div>

    <!-- Submit Button -->
    <button [disabled]="processing || !form.valid" type="submit" name="button" class="btn btn-outline-success btn-block">Submit</button>
    <!-- Go Back Button -->
    <button [disabled]="processing" type="button" name="button" (click)="goBack()" class="btn btn-outline-warning btn-block">Go Back</button>
    
  
  </form>
  <!-- New Blog Form -->
</div>


<div *ngIf="!newPost"  style="margin-top:-10px" >
  <div *ngFor="let blog of blogPosts" class="card container col-md-9 col-md-offset-10">
      <div class="card-body" >
          <div >
            <h4 class="card-title">{{ blog.title }}</h4>
            <h6 class="card-subtitle text-muted">By {{blog.createdBy}}</h6>
            <h6 class="text-muted" style="padding-top:5px">{{blog.createdAt | date:'MMM dd, yyyy'}}</h6>
          </div>
          <div  class="card-body text-muted">
            <h6>{{ blog.body }}</h6>
            <h6>Route : {{ blog.route }}</h6>
            <h6>Distance : {{ blog.distance }} Km</h6>
            <h6>Heart Rate : {{ blog.hrate }} bpm</h6>
          </div>
          <div class=" text-muted">
            <div *ngIf="username === blog.createdBy">
              <h6>{{blog.likes}} Likes</h6>
              <h6>{{blog.dislikes}} Dislikes</h6>
            </div>
            <button [routerLink]="['/edit-blog/', blog._id]" *ngIf="username === blog.createdBy" type="button" class="btn btn-outline-primary" style="width:100px !important">Edit</button>
            <button [routerLink]="['/delete-blog/', blog._id]" *ngIf="username === blog.createdBy" type="button" class="btn btn-outline-danger" style="width:100px !important">Delete</button>
            <div class="dropdown">
              <button [disabled]="blog.likedBy.indexOf(username) > -1" *ngIf="username !== blog.createdBy" (click)="likeBlog(blog._id)" type="button" name="button" class="btn btn-sm btn-outline-success " style="width:100px !important">
                <span class="glyphicon glyphicon-thumbs-up">&nbsp;</span>{{blog.likes}} Likes
              </button>
              <div class="dropdown-content">
                <a [routerLink]="['/user/', liker]" *ngFor="let liker of blog.likedBy">{{liker}}</a>
              </div>
            </div>
            <div class="dropdown">
                <button [disabled]="blog.dislikedBy.indexOf(username) > -1" *ngIf="username !== blog.createdBy" (click)="dislikeBlog(blog._id)" type="button" name="button" class="btn btn-sm btn-outline-warning" style="width:100px !important">
                  <span class="glyphicon glyphicon-thumbs-down">&nbsp;</span>{{blog.dislikes}} Dislikes
                </button>
                <div class="dropdown-content">
                  <a [routerLink]="['/user/', disliker]" *ngFor="let disliker of blog.dislikedBy">{{disliker}}</a>
                </div>
              </div>
          </div>
      
          <ul class="list-group">
              <li class="list-group-item">
                <!-- Post Comment Button -->
                <button type="button" name="button" class="btn btn-sm btn-danger" (click)="draftComment(blog._id)" [disabled]="newComment.indexOf(blog._id) > -1">Post Comment</button>
                <br />
                <br />
                <div *ngIf="newComment.indexOf(blog._id) > -1">
        
                  <!-- Form: Comment Form Start -->
                  <form [formGroup]="commentForm">
                    <!-- Textarea Input -->
                    <textarea name="comment" rows="10" cols="30" class="form-control" formControlName="comment"></textarea>
                    <!-- Validation -->
                    <div [ngClass]="{'has-success': !commentForm.controls.comment.errors && commentForm.controls.comment.dirty, 'has-error': commentForm.controls.comment.dirty && commentForm.controls.comment.errors}">
                      <ul class="help-block">
                        <li *ngIf="commentForm.controls.comment.errors?.required && commentForm.controls.comment.dirty">This field is required.</li>
                        <li *ngIf="(commentForm.controls.comment.errors?.maxlength && commentForm.controls.comment.dirty) ||(commentForm.controls.comment.errors?.minlength && commentForm.controls.comment.dirty)">Comment must be at least 1 character but no more than 200.</li>
                      </ul>
                    </div>
                    <!-- Post Button -->
                    <button [disabled]="!commentForm.valid || processing" type="submit" name="button" class="btn btn-sm btn-info" (click)="postComment(blog._id)">Post</button>
                    <!-- Cancel Button -->
                    <button [disabled]="processing" type="button" name="button" class="btn btn-sm btn-danger" (click)="cancelSubmission(blog._id)">Cancel</button>
                  </form>
                  <!-- Form: Comment Form End -->
        
                </div>
        
                <!-- Show Comments -->
                <li *ngIf="enabledComments.indexOf(blog._id) === -1 && blog.comments.length > 0" class="list-group-item">
                  <span (click)="expand(blog._id)">
                    Show comments&nbsp;&nbsp;
                    <div class="glyphicon glyphicon-comment"></div>
                  </span>
                </li>
        
                <!-- Hide Comments -->
                <li *ngIf="enabledComments.indexOf(blog._id) > -1" class="list-group-item">
                  <span (click)="collapse(blog._id)">
                    Hide Comments&nbsp;&nbsp;
                    <div class="glyphicon glyphicon-comment"></div>
                  </span>
                </li>
        
                <!-- Comment -->
                <div *ngIf="enabledComments.indexOf(blog._id) > -1">
                  <li *ngFor="let comment of blog.comments" class="list-group-item">
                    <strong>{{ comment.commentator }}:</strong> {{ comment.comment }}
                  </li>
                </div>
            </ul>
        <!-- Post Comment Box: End -->
        </div>

  </div>
  
  
</div>